/* FEM Blog Preview Card */
* {
  font-family: figtree;
}
body{
  text-align: center;
}

h1, h2, h3, h5, p {
  margin: 0;
}
h1 {
  font-size: 1.5rem;
  line-height: 150%;
}
h3 {
  font-size: 14px;
  line-height: 150%;
}
p {
  font-size: 1rem;
  line-height: 150%;
}
.center {
  text-align: center;
}
.bold {
  font-weight: 800;
}
.regular {
  font-weight: normal;
}
.medium {
  font-weight: 500;
}
.gray500 {
  color: #6b6b6b;
}
.gray950 {
  color: #111111;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #f4d04e; 
  justify-content: center;
  align-items: center;
}

.card {
  width: 384px;
  height: 522px;
  border: 1px solid #111111;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  background-color: #ffffff;
  border-radius: 20px;
  gap: 24px;
  box-shadow: ;
  padding: 0;
  margin: auto; 
  text-align: left;
  box-shadow: 8px 8px;
  text-align: left;
}  

.image {
  width: 336px;
  height: 200px;
  background-image: url('/home/andre/Documents/FrontEndMentor/blog-preview-card/images/illustration-article.svg'); 
  border-radius: 10px;
  margin: 0 auto;
  padding: 24px auto;
}

.content {
  width: 336px;
  height: 194px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  gap: 12px;
  padding: 0;
  text-align: left;
}

.blog {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.button{
  width: 82px;
  height: 29px;
  display: flex;
  background-color: #f4d04e;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/*
.tag {
}

.published {

}

.heading {

}
*/
.excerpt {
  text-align: left;
}


.author {
  width: 129px;
  height: 32px;
  margin-left: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-pic {
  width: 32px;
  height: 32px;
  background-color: #b2cfe2;
  border-radius: 90px;
}
.profile-pic img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.name {
  margin: 0 4px;
}

.attribution { 
  font-size: 11px; 
  display: flex;
  text-align: center; 
  justify-content: center;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
  justify-content: center;
  text-align: center;
}
